

<div class="left column">

<% if @open_orders.length == 0 %>
  <h2>You have no open orders</h2>
<% else %>



  <h3 class="top-item">Open Orders</h3>
  <table>
    <% @open_orders.each do |order| %>
    <%= render partial: 'orders/orders_list', locals: {order: order, restaurant: order.restaurant} %>

    <% end %>
  </table> 
  
<% end %>


</div>


<div class="middle column">
<h3>Top Restaurants Nearby</h3>
<table>
<% @top_five_restaurants.each do |restaurant|  %>

  <tr>
   <td> <%= link_to restaurant.name, restaurant_path(restaurant) %> </td>
    <td><%= pluralize(restaurant.rating, "Star") %> </td>
  </tr>

<% end %>
</table>
</div>


<div class="right column">
<h3>My Info</h3>
<%= render partial: 'user', locals: {user: @user} %>
</div>