<tr> 
    <td> Ordered from <%= link_to restaurant.name, restaurant_path(restaurant) %>. </td>
    <td> <%= link_to "#{order.status.titleize} on #{order.date}", order_path(order) %></td>
    <td> $<%= order.total_price %></td>
 </tr>
   
 