    
<p> 
  Ordered from <%= link_to restaurant.name, restaurant_path(restaurant) %>. <%="#{order.status.titleize} on #{order.date}"%>
</p>

<p>
  <%= link_to "View Details", order_path(order) %>
</p>

<p> $<%= order.total_price %></p>

   
 