<div class="second-row">
  <h1>All orders</h1>
</div>

<div class="third-row flex-box-one-column">
  <% @orders.each do |order| %>
    <div class="tile-fit-contents">
      <%= render partial: 'orders_list', locals: {order: order, restaurant: order.restaurant} %>
    </div>
  <% end %>
  
</div>