
<div class="restaurant-page-user">
  <h1>Restaurants Index</h1>

  <ul class="all-restaurant-ul">

  <% @restaurants.each do |restaurant| %>
    <div class="res-card">
      <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
      <li><%= restaurant.rating %></li>
      <li><%= restaurant.phone_number %></li>
      <li><%= restaurant.address %></li>
    <div>
  <% end %>

  </ul>
</div>