/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


$space-cadet: #1f3352ff;
$olive-drab-3: #769a06ff;
$congo-pink: #ec8c7fff;
$gainsboro: #d8d9e1ff;
$blond: #fcf2c3ff;


/* nav bar */
ul {
    background-color: $congo-pink;
    margin: 0px auto 5px auto;
    border-radius: 25px;
    width: 85%;
    max-width: 960px;
}

ul li {
    display: inline-block;
    padding: 20px;
}

li:hover {
    background-color: $gainsboro;
    transition-duration: .7s;
}

.right {
    float: right;
}