// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
restaurant-page-user {}

.top-item {
    order: -1;
}

.res-info-show-user {
    grid-area: 2 / 1 / 3 / 6;
}

.menu-for-user {
    grid-area: 4 / 1 / 10 / 6;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.user-menu-submit-buttom {
    grid-area: 10 / 1 / 11 / 6;
    padding: 20px;
    padding-bottom: 100px;
}

.menu-item {
    border: 1px solid rgb(238, 238, 238);
    background: #f9f9f9;
    align-items: center;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    margin: 5px;
    width: 200px;
    font-size: 16px;
}

.new_order {
    display: contents;
}

.all-restaurant-ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 99%;
    height: auto;
}

.res-card {
    flex-grow: 1;
    position: relative;
}

// order css
#order-header {
    grid-area: 2 / 1 / 3 / 6;
}

h1#your-order {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}

h4#delivery-details {
    display: inline-block;
}

div#order-body {
    grid-area: 3 / 1 / 4 / 6;
}

table.order-items tr td {
    border: 1px solid rgb(238, 238, 238);
    background: #f9f9f9;
}

tr.total {
    font-weight: bold;
}